{
  "presets": ["env"],
  "env": {
    "test": {
      "presets": [
        "react",
        [
          "env",
          {
            "targets": {
              "node": 10.5
            },
            "useBuiltIns": true
          }
        ]
      ]
    }
  }
}
